<!DOCTYPE html>
{% load staticfiles %}
<html lang="fa" dir="rtl">
<head>
	<title>حساب کاربری {{ org.name }}</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href={% static "css/BenefactorsProfileView.css" %}>
	<link rel="stylesheet" type="text/css" href={% static "css/style.css" %}>
	<link rel="stylesheet" href={% static "css/ionicons.min.css" %}>
</head>
<body>
	<div class="main">
		{% if not request.user.is_authenticated %}
           <div id="checkspann" class="1"></div>
          {% endif %}
          {% if request.user.is_authenticated %}
           {% if request.user.isOrg %}
            <div id="checkspann" class="2"></div>
           {% endif %}
           {% if request.user.isBen %}
            <div id="checkspann" class="3"></div>
            {% endif %}
           {% if not request.user.isOrg and not request.user.isBen %}
            <div id="checkspann" class="4"></div>
           {% endif %}
        {% endif %}
		<div class="header">
			<div class="topmenu" id="topmenu">
                {% if request.user.is_authenticated %}
				<div class="container">
					<div class="topPhoto">
						<img src="{{ request.user.image }}">
					</div>
					<div class="topmenuelements">
						{% if request.user.isOrg %}
						<a href={% url 'profile' request.user.username %}>{{request.user.organizer.name}}</a>
						{% endif %}
						{% if request.user.isBen %}
						<a href={% url 'profile' request.user.username %}>{{request.user.benefactor.name}}  {{request.user.benefactor.surname}}</a>
						{% endif %}
					</div>
					<div class="topmenudate">
						<a href="{% url 'logout' %}">خروج</a>
					</div>
					<div class="logo">
						<img src="../static/images/logo.png">
					</div>
				</div>
				{% endif %}
                {% if not request.user.is_authenticated %}
                     <div class="container">
                        <div class="topmenudate">
                            <h3>شما هنوز وارد نشده‌اید،</h3>
                         </div>
                         <div class="topmenudate">
                            <button onclick="popup()">ورود</button>
                         </div>
                         <div class="topmenudate">
                            <button onclick="popupregister()">ثبت نام</button>
                         </div>
                         <div class="logo">
                            <img src="../static/images/logo.png">
                        </div>
                    </div>
                {% endif %}
			</div>
		</div>
		<div class="mainPage">
			<div class="wrapper"></div>
			<div id="test">
				<div class="wrappers">
			
					<form class="login">
						<button id="button2" class="exit1" onclick="popdown()">x</button>
						<p class="title">ورود</p>
						<p>
							<input type="text" placeholder="نام کاربری" class="login-text">
							<i class="ion-person"></i>
						</p>
						<p>
							<input type="password" placeholder="رمز عبور" class="login-text">
							<i class="ion-ios-locked"></i>
						</p>
						<div class="enter"><button>ورود</button></div>
						<button class="forget">فراموشی رمز عبور</button>
						
						<p> اگر هنوز حساب کاربری برای خود ایجاد نکرده‌اید، </p> <button class="reg" id="buttonreg" onclick="popupregister()">ثبت نام</button> <p>کنید</p>
					</form>
				</div>
			</div>
			<div id="testreg">
				<div class="wrappers">
					<form class="register">
						<button id="buttonreg2" class="exit" onclick="popdownregister()">x</button>
						<p class="title">ثبت نام</p>
						<div class="enter"><a href="registerBenefactor.html">نیکوکار</a></div>
						<div class="enter"><a href="registerOrganization.html">موسسه</a></div>
					</form>
				</div>
			</div>
			<div class="nav" id="nav">
				
			</div>
			<div class="container">
				<div class="photo"><div id="photo"><img src="{{ user.image }}"></div></div>
				<div class="personal">
					<h2> مشخصات </h2>
					<div id="personal">
                        <h3>نام موسسه: {{ org.name }}</h3>
                        <h3>سال ثبت: {{ org.year }}</h3>
                        <h3>پروانه فعالیت: {{ org.license }}</h3>
                        <h3>شهر: {{ org.city }}</h3>
                        <h3>آدرس: {{ org.address }}</h3>
                        <h3>وبسایت: {{ org.website }}</h3>
                        <h3>تلفن: {{ org.phone }}</h3>
                    </div>
				</div>
				<div class="chartContainer">
					<div id="chart">
                        <div>
                            <table>
                                <tbody>
                                <tr class="bars">
                                    <td>
                                        <div class="one" style="height: 70%; position: absolute; width: 100%; bottom: 0px;">70%</div>
                                    </td>
                                    <td>
                                        <div class="two" style="height: 70%; position: absolute; width: 100%; bottom: 0px;">70%</div>
                                    </td>
                                    <td>
                                        <div class="three" style="height: 70%; position: absolute; width: 100%; bottom: 0px;">70%</div>
                                    </td>
                                    <td>
                                        <div class="four" style="height: 70%; position: absolute; width: 100%; bottom: 0px;">70%</div>
                                    </td>
                                    <td>
                                        <div class="five" style="height: 70%; position: absolute; width: 100%; bottom: 0px;">70%</div>
                                    </td>
                                    <td class="legend">
                                            <span class="legbox">
                                                <span class="one xaxisname"></span><span>صداقت</span>
                                            </span>
                                        <span class="legbox">
                                                <span class="two xaxisname"></span><span>تعهد</span>
                                            </span>
                                        <span class="legbox">
                                                <span class="three xaxisname"></span><span>مسئولیت‌پذیری</span>
                                            </span>
                                        <span class="legbox">
                                                <span class="four xaxisname"></span><span>وقت‌شناسی</span>
                                            </span>
                                        <span class="legbox">
                                                <span class="five xaxisname"></span><span>علاقه به کار</span>
                                            </span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
				</div>

				<div id="projectscurrent">
					<h2>پروژه های در دست انجام: </h2>
                    {% for project in projects %}
                        <button style="display: inline-block; padding: 2px 10px; font-size: 17px;  text-decoration: none; color: #fdfdfd; height: 30px; background: #009eff; border-radius: 5px; margin-top: 20px;" onclick=popupProject("p{{ project.id }}") >{{ project.name }}</button><br>
                        <div class="testreg" id="p{{ project.id }}" style="display: none; position: fixed;width: 100%;height: 1200px;top: 0;right: 0;background: rgba(0,0,0,0.6);z-index: 30;">
                            <div class="wrappers">
                                <form class="register">
                                    <button class="exit" onclick=popdownProject("p{{ project.id }}")>x</button>
                                    <p class="title">{{ project.name }}</p>
                                        <h3 style="font-size: 12px;">میزان کل بودجه مورد نیاز(تومان): {{ project.budget }}</h3>
                                        <h3 style="margin-top: 3px; font-size: 12px;">میزان کل مبلغ پرداخت شده تا کنون(تومان): {{ project.alreadyPaid }}</h3>
                                        <h3 style="margin-top: 3px; font-size: 12px;">شهر محل اجرای پروژه: {{ project.city }}</h3>
                                        <h3 style="margin-top: 3px; font-size: 12px;">توضیحات بیشتر: {{ project.description }}</h3>
                                        <h3 style="margin: 10px 0; font-size: 10px;">در صورت تمایل به کمک به این پروژه، لطفا مبلغ مورد نظر خود را وارد فرمایید</h3>
                                        <form method="post">
                                            <input type="number" name="value">
                                            <button style="text-align: center">پرداخت</button>
                                        </form>
                                </form>
                            </div>
                        </div>
                    {% endfor %}
				</div>
				<div id="projects">
					<h2>نیکوکارانی که تا کنون با این موسسه همکاری داشته اند:</h2>
				</div>
				<div id="abilities">
					<h2>نیازمند همکاری در زمینه های: </h2>
                    <ul style="display: none" id="reqIds">{% for req in requirements %}<li value="{{ req.id }}">{{ req.id }}</li>{% endfor %}</ul>
                    {% for req in requirements %}
                        <button style="display: inline-block; padding: 2px 10px; font-size: 17px;  text-decoration: none; color: #fdfdfd; height: 30px; background: #009eff; border-radius: 5px; margin-top: 20px;" onclick=popupProject("r{{ req.id }}")>{{ req.name }}</button><br>
                        <div class="testreg" id="r{{ req.id }}" style="display: none; position: fixed;width: 100%;height: 1200px;top: 0;right: 0;background: rgba(0,0,0,0.6);z-index: 30;">
                            <div class="wrappers">
                                <form method="post" class="register">
                                    <button class="exit" onclick=popdownProject("r{{ req.id }}")>x</button>
                                    <p class="title">{{ req.name }}</p>
                                    <h3 style="font-size: 12px;">شهر: {{ req.city }}</h3>
                                    <h3 style="margin-top: 3px; font-size: 12px;">آدرس: {{ req.address }}</h3>
                                    <h3 style="margin-top: 3px; font-size: 12px;">توضیحات بیشتر: {{ req.description }}</h3>
                                    <h3 style="margin-top: 3px; font-size: 12px;">تعداد مشارکت‌کنندگان: {{ req.NOP }}</h3>
                                    {% if req.typeOfCooperation == "inOffice10" or req.typeOfCooperation == "inOffice20" or req.typeOfCooperation == "inOffice30" or req.typeOfCooperation == "inOfficemore" %}
                                        <h3 style="margin: 10px 0; font-size: 10px;">در صورت تمایل به همکاری با این موسسه در این نیازمندی، لطفا زمان‌هایی که می‌خواهید در آن‌ها به کار مشغول شوید را مشخص کنید</h3>
                                        <table id="tab">
                                            <tbody>
                                                <tr>
                                                    <td></td>
                                                    <td> 8-10 </td>
                                                    <td> 10-12 </td>
                                                    <td> 12-15 </td>
                                                    <td> 15-17 </td>
                                                </tr>
                                                <tr>
                                                    <td>شنبه</td>
                                                    <td> <span id="a{{ req.id }}a11" onclick="week({{ req.id }},11,0)" value="1"></span> </td>
                                                    <td> <span id="a{{ req.id }}a12" onclick="week({{ req.id }},12,1)" value="1"></span> </td>
                                                    <td> <span id="a{{ req.id }}a13" onclick="week({{ req.id }},13,2)" value="1"></span> </td>
                                                    <td> <span id="a{{ req.id }}a14" onclick="week({{ req.id }},14,3)" value="1"></span> </td>
                                                </tr>
                                                <tr>
                                                    <td>یکشنبه</td>
                                                    <td> <span id="a{{ req.id }}a21" onclick="week({{ req.id }},21,4)" value="1"></span> </td>
                                                    <td> <span id="a{{ req.id }}a22" onclick="week({{ req.id }},22,5)" value="1"></span> </td>
                                                    <td> <span id="a{{ req.id }}a23" onclick="week({{ req.id }},23,6)" value="1"></span> </td>
                                                    <td> <span id="a{{ req.id }}a24" onclick="week({{ req.id }},24,7)" value="1"></span> </td>
                                                </tr>
                                                <tr>
                                                    <td>دوشنبه</td>
                                                    <td> <span id="a{{ req.id }}a31" onclick="week({{ req.id }},31,8)" value="1"></span> </td>
                                                    <td> <span id="a{{ req.id }}a32" onclick="week({{ req.id }},32,9)" value="1"></span> </td>
                                                    <td> <span id="a{{ req.id }}a33" onclick="week({{ req.id }},33,10)" value="1"></span> </td>
                                                    <td> <span id="a{{ req.id }}a34" onclick="week({{ req.id }},34,11)" value="1"></span> </td>
                                                </tr>
                                                <tr>
                                                    <td>سه‌شنبه</td>
                                                    <td> <span id="a{{ req.id }}a41" onclick="week({{ req.id }},41,12)" value="1"></span> </td>
                                                    <td> <span id="a{{ req.id }}a42" onclick="week({{ req.id }},42,13)" value="1"></span> </td>
                                                    <td> <span id="a{{ req.id }}a43" onclick="week({{ req.id }},43,14)" value="1"></span> </td>
                                                    <td> <span id="a{{ req.id }}a44" onclick="week({{ req.id }},44,15)" value="1"></span> </td>
                                                </tr>
                                                <tr>
                                                    <td>چهارشنبه</td>
                                                    <td> <span id="a{{ req.id }}a51" onclick="week({{ req.id }},51,16)" value="1"></span> </td>
                                                    <td> <span id="a{{ req.id }}a52" onclick="week({{ req.id }},52,17)" value="1"></span> </td>
                                                    <td> <span id="a{{ req.id }}a53" onclick="week({{ req.id }},53,18)" value="1"></span> </td>
                                                    <td> <span id="a{{ req.id }}a54" onclick="week({{ req.id }},54,19)" value="1"></span> </td>
                                                </tr>
                                                <tr>
                                                    <td>پنجشنبه</td>
                                                    <td> <span id="a{{ req.id }}a61" onclick="week({{ req.id }},61,20)" value="1"></span> </td>
                                                    <td> <span id="a{{ req.id }}a62" onclick="week({{ req.id }},62,21)" value="1"></span> </td>
                                                    <td> <span id="a{{ req.id }}a63" onclick="week({{ req.id }},63,22)" value="1"></span> </td>
                                                    <td> <span id="a{{ req.id }}a64" onclick="week({{ req.id }},64,23)" value="1"></span> </td>
                                                </tr>
                                                <tr>
                                                    <td> جمعه </td>
                                                    <td> <span id="a{{ req.id }}a71" onclick="week({{ req.id }},71,24)" value="1"></span> </td>
                                                    <td> <span id="a{{ req.id }}a72" onclick="week({{ req.id }},72,25)" value="1"></span> </td>
                                                    <td> <span id="a{{ req.id }}a73" onclick="week({{ req.id }},73,26)" value="1"></span> </td>
                                                    <td> <span id="a{{ req.id }}a74" onclick="week({{ req.id }},74,27)" value="1"></span> </td>
                                                </tr>
                                            </tbody>
                                            <h5 id="tab2" style="display: none">لطفا زمان‌های غیرفعال خود را علامت بزنید</h5>
                                        </table>
                                        {% if req.wId.a0 == "on" %}<input type="checkbox" name="a{{ req.id }}b0" id="a{{ req.id }}b0" style="display: none" checked>{% endif %}
                                        {% if req.wId.a0 == "off" %}<input type="checkbox" name="a{{ req.id }}b0" id="a{{ req.id }}b0" style="display: none" >{% endif %}
                                        {% if req.wId.a1 == "on" %}<input type="checkbox" name="a{{ req.id }}b1" id="a{{ req.id }}b1" style="display: none" checked>{% endif %}
                                        {% if req.wId.a1 == "off" %}<input type="checkbox" name="a{{ req.id }}b1" id="a{{ req.id }}b1" style="display: none" >{% endif %}
                                        {% if req.wId.a2 == "on" %}<input type="checkbox" name="a{{ req.id }}b2" id="a{{ req.id }}b2" style="display: none" checked>{% endif %}
                                        {% if req.wId.a2 == "off" %}<input type="checkbox" name="a{{ req.id }}b2" id="a{{ req.id }}b2" style="display: none" >{% endif %}
                                        {% if req.wId.a3 == "on" %}<input type="checkbox" name="a{{ req.id }}b3" id="a{{ req.id }}b3" style="display: none" checked>{% endif %}
                                        {% if req.wId.a3 == "off" %}<input type="checkbox" name="a{{ req.id }}b3" id="a{{ req.id }}b3" style="display: none" >{% endif %}
                                        {% if req.wId.a4 == "on" %}<input type="checkbox" name="a{{ req.id }}b4" id="a{{ req.id }}b4" style="display: none" checked>{% endif %}
                                        {% if req.wId.a4 == "off" %}<input type="checkbox" name="a{{ req.id }}b4" id="a{{ req.id }}b4" style="display: none" >{% endif %}
                                        {% if req.wId.a5 == "on" %}<input type="checkbox" name="a{{ req.id }}b5" id="a{{ req.id }}b5" style="display: none" checked>{% endif %}
                                        {% if req.wId.a5 == "off" %}<input type="checkbox" name="a{{ req.id }}b5" id="a{{ req.id }}b5" style="display: none" >{% endif %}
                                        {% if req.wId.a6 == "on" %}<input type="checkbox" name="a{{ req.id }}b6" id="a{{ req.id }}b6" style="display: none" checked>{% endif %}
                                        {% if req.wId.a6 == "off" %}<input type="checkbox" name="a{{ req.id }}b6" id="a{{ req.id }}b6" style="display: none" >{% endif %}
                                        {% if req.wId.a7 == "on" %}<input type="checkbox" name="a{{ req.id }}b7" id="a{{ req.id }}b7" style="display: none" checked>{% endif %}
                                        {% if req.wId.a7 == "off" %}<input type="checkbox" name="a{{ req.id }}b7" id="a{{ req.id }}b7" style="display: none" >{% endif %}
                                        {% if req.wId.a8 == "on" %}<input type="checkbox" name="a{{ req.id }}b8" id="a{{ req.id }}b8" style="display: none" checked>{% endif %}
                                        {% if req.wId.a8 == "off" %}<input type="checkbox" name="a{{ req.id }}b8" id="a{{ req.id }}b8" style="display: none" >{% endif %}
                                        {% if req.wId.a9 == "on" %}<input type="checkbox" name="a{{ req.id }}b9" id="a{{ req.id }}b9" style="display: none" checked>{% endif %}
                                        {% if req.wId.a9 == "off" %}<input type="checkbox" name="a{{ req.id }}b9" id="a{{ req.id }}b9" style="display: none" >{% endif %}
                                        {% if req.wId.a10 == "on" %}<input type="checkbox" name="a{{ req.id }}b10" id="a{{ req.id }}b10" style="display: none" checked>{% endif %}
                                        {% if req.wId.a10 == "off" %}<input type="checkbox" name="a{{ req.id }}b10" id="a{{ req.id }}b10" style="display: none" >{% endif %}
                                        {% if req.wId.a11 == "on" %}<input type="checkbox" name="a{{ req.id }}b11" id="a{{ req.id }}b11" style="display: none" checked>{% endif %}
                                        {% if req.wId.a11 == "off" %}<input type="checkbox" name="a{{ req.id }}b11" id="a{{ req.id }}b11" style="display: none" >{% endif %}
                                        {% if req.wId.a12 == "on" %}<input type="checkbox" name="a{{ req.id }}b12" id="a{{ req.id }}b12" style="display: none" checked>{% endif %}
                                        {% if req.wId.a12 == "off" %}<input type="checkbox" name="a{{ req.id }}b12" id="a{{ req.id }}b12" style="display: none" >{% endif %}
                                        {% if req.wId.a13 == "on" %}<input type="checkbox" name="a{{ req.id }}b13" id="a{{ req.id }}b13" style="display: none" checked>{% endif %}
                                        {% if req.wId.a13 == "off" %}<input type="checkbox" name="a{{ req.id }}b13" id="a{{ req.id }}b13" style="display: none" >{% endif %}
                                        {% if req.wId.a14 == "on" %}<input type="checkbox" name="a{{ req.id }}b14" id="a{{ req.id }}b14" style="display: none" checked>{% endif %}
                                        {% if req.wId.a14 == "off" %}<input type="checkbox" name="a{{ req.id }}b14" id="a{{ req.id }}b14" style="display: none" >{% endif %}
                                        {% if req.wId.a15 == "on" %}<input type="checkbox" name="a{{ req.id }}b15" id="a{{ req.id }}b15" style="display: none" checked>{% endif %}
                                        {% if req.wId.a15 == "off" %}<input type="checkbox" name="a{{ req.id }}b15" id="a{{ req.id }}b15" style="display: none" >{% endif %}
                                        {% if req.wId.a16 == "on" %}<input type="checkbox" name="a{{ req.id }}b16" id="a{{ req.id }}b16" style="display: none" checked>{% endif %}
                                        {% if req.wId.a16 == "off" %}<input type="checkbox" name="a{{ req.id }}b16" id="a{{ req.id }}b16" style="display: none" >{% endif %}
                                        {% if req.wId.a17 == "on" %}<input type="checkbox" name="a{{ req.id }}b17" id="a{{ req.id }}b17" style="display: none" checked>{% endif %}
                                        {% if req.wId.a17 == "off" %}<input type="checkbox" name="a{{ req.id }}b17" id="a{{ req.id }}b17" style="display: none" >{% endif %}
                                        {% if req.wId.a18 == "on" %}<input type="checkbox" name="a{{ req.id }}b18" id="a{{ req.id }}b18" style="display: none" checked>{% endif %}
                                        {% if req.wId.a18 == "off" %}<input type="checkbox" name="a{{ req.id }}b18" id="a{{ req.id }}b18" style="display: none" >{% endif %}
                                        {% if req.wId.a19 == "on" %}<input type="checkbox" name="a{{ req.id }}b19" id="a{{ req.id }}b19" style="display: none" checked>{% endif %}
                                        {% if req.wId.a19 == "off" %}<input type="checkbox" name="a{{ req.id }}b19" id="a{{ req.id }}b19" style="display: none" >{% endif %}
                                        {% if req.wId.a20 == "on" %}<input type="checkbox" name="a{{ req.id }}b20" id="a{{ req.id }}b20" style="display: none" checked>{% endif %}
                                        {% if req.wId.a20 == "off" %}<input type="checkbox" name="a{{ req.id }}b20" id="a{{ req.id }}b20" style="display: none" >{% endif %}
                                        {% if req.wId.a21 == "on" %}<input type="checkbox" name="a{{ req.id }}b21" id="a{{ req.id }}b21" style="display: none" checked>{% endif %}
                                        {% if req.wId.a21 == "off" %}<input type="checkbox" name="a{{ req.id }}b21" id="a{{ req.id }}b21" style="display: none" >{% endif %}
                                        {% if req.wId.a22 == "on" %}<input type="checkbox" name="a{{ req.id }}b22" id="a{{ req.id }}b22" style="display: none" checked>{% endif %}
                                        {% if req.wId.a22 == "off" %}<input type="checkbox" name="a{{ req.id }}b22" id="a{{ req.id }}b22" style="display: none" >{% endif %}
                                        {% if req.wId.a23 == "on" %}<input type="checkbox" name="a{{ req.id }}b23" id="a{{ req.id }}b23" style="display: none" checked>{% endif %}
                                        {% if req.wId.a23 == "off" %}<input type="checkbox" name="a{{ req.id }}b23" id="a{{ req.id }}b23" style="display: none" >{% endif %}
                                        {% if req.wId.a24 == "on" %}<input type="checkbox" name="a{{ req.id }}b24" id="a{{ req.id }}b24" style="display: none" checked>{% endif %}
                                        {% if req.wId.a24 == "off" %}<input type="checkbox" name="a{{ req.id }}b24" id="a{{ req.id }}b24" style="display: none" >{% endif %}
                                        {% if req.wId.a25 == "on" %}<input type="checkbox" name="a{{ req.id }}b25" id="a{{ req.id }}b25" style="display: none" checked>{% endif %}
                                        {% if req.wId.a25 == "off" %}<input type="checkbox" name="a{{ req.id }}b25" id="a{{ req.id }}b25" style="display: none" >{% endif %}
                                        {% if req.wId.a26 == "on" %}<input type="checkbox" name="a{{ req.id }}b26" id="a{{ req.id }}b26" style="display: none" checked>{% endif %}
                                        {% if req.wId.a26 == "off" %}<input type="checkbox" name="a{{ req.id }}b26" id="a{{ req.id }}b26" style="display: none" >{% endif %}
                                        {% if req.wId.a27 == "on" %}<input type="checkbox" name="a{{ req.id }}b27" id="a{{ req.id }}b27" style="display: none" checked>{% endif %}
                                        {% if req.wId.a27 == "off" %}<input type="checkbox" name="a{{ req.id }}b27" id="a{{ req.id }}b27" style="display: none" >{% endif %}
                    
                                        {% for i in rangee %}<input type="checkbox" id="a{{ req.id }}c{{ i }}" name="c{{ i }}" style="display: block">{% endfor %}
                                    {% endif %}
                                </form>
                            </div>
                        </div>
                    {% endfor %}
				</div>
			</div>
		</div>

		<div class="footer">
			<div class="container">
				<div class="addr">
					<h4> خیابان آزادی، بلوار اکبری، خیابان قاسمی، پلاک ۳۶، واحد ۲ </h4>
					<h4>تلفن: ۰۲۱۸۸۳۴۲۸۹۱</h4>
				</div>
			</div>
			<div class="copy">
				<h4>کپی‌رایت رعایت شود.</h4>
			</div>
		</div>
	</div>
	<script type="text/javascript" src={% static "js/orgProfileView.js" %}></script>
	<script type="text/javascript" src={% static "js/main.js" %}></script>
	<script src={% static "js/jquery.min.js" %}></script>
</body>
</html>